@{
    ViewBag.Title = "About";
}
    <div class="justify-content-center">
        <h2 class="text-white text-center">About Us</h2>
        <br />
        <p class="text-white text-center"> ABC Cafe is an Online Cafteria that specializes in Sri Lankan and Chinese cuzines..</p>
  
    </div>
