@{
    ViewBag.Title = "Contact";
}

    <div class="justify-content-center">
        <h2 class="text-white text-center">Contact Us</h2>

        <address class="text-white text-center">
            <strong>Email : </strong>  <a href="mailto:abc.cafe.mail@gmail.com">abc.cafe.mail@gmail.com</a>

        </address>

    </div>


