@model CafateriaSystem.Models.Order

    <label> Name:  @Html.DisplayFor(model => model.User.name) </label> <br />

    <label> Address : @Html.DisplayFor(model => model.User.address) </label> <br />

    <label> Phone : @Html.DisplayFor(model => model.User.phone) </label>    <br />  




